

h1{
text-align: center;
color: gray;
text-shadow: 2px 2px orangered;
background-color:rgb(128, 178, 190) ;
}

h2{
text-align: center;
background: linear-gradient(to bottom, rgb(226, 98, 24), rgb(128, 178, 190));
}

.container-group{
    background-color:rgb(128, 178, 190) ;
    padding: 10px;
}

.card-body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

a{
    background-color:rgb(226, 98, 24);
    border: rgb(26, 26, 122) 1px solid;
    color:black;
    font-weight: bold;
    font-size: 0.8rem;
    width: 60%;
}

.text-muted{
    font-size: 1.2rem;
    text-decoration: underline;
}