<h1>Agencia de viajes Turist</h1>
<div class="container-group">
<h2 id="viajes">Viajes en Avión</h2>
<div class="card-group">
    <div class="card">
      <img src="./assets/avion1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Medellín-Colombia a Mexico</h5>
        <p class="card-text">Viaje sin escalas de ida y vuelta, alojamiento y alimentación de Medellín a ciudad de Mexico</p>
        <p class="card-text"><small class="text-muted">Precio: COP 1.700.000</small></p>
        <a type="button" class="btn btn-secondary btn-sm" href="https://web.whatsapp.com/">Comprar</a>
      </div>
    </div>
    <div class="card">
      <img src="./assets/avion2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Medellín-Colombia a Lima-Perú</h5>
        <p class="card-text">Viaje sin escalas de ida y vuelta, alojamiento y alimentación de Medellín a Lima-Perú</p>
        <p class="card-text"><small class="text-muted">Precio: COP 1.500.000</small></p>
        <a type="button" class="btn btn-secondary btn-sm" href="https://web.whatsapp.com/">Comprar</a>
      </div>
    </div>
    <div class="card">
      <img src="./assets/avion3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Medellín-Colombia a Brasil</h5>
        <p class="card-text">Viaje sin escalas de ida y vuelta, alojamiento y alimentación de Medellín a Brasil</p>
        <p class="card-text"><small class="text-muted">Precio: COP 1.400.000</small></p>
        <a type="button" class="btn btn-secondary btn-sm" href="https://web.whatsapp.com/">Comprar</a>
      </div>
    </div>
  </div>
</div>
<div class="container-group">
    <h2 id="bus">Viajes en Bus de turismo</h2>
    <div class="card-group">
        <div class="card">
          <img src="./assets/bus1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Medellín-Colombia a Arboletes-Colombia</h5>
            <p class="card-text">Viaje de ida y vuelta en nuestra cómoda flota, incluye hospedaje y alimentación por 5 días</p>
            <p class="card-text"><small class="text-muted">Precio: COP 850.000</small></p>
            <a type="button" class="btn btn-secondary btn-sm" href="https://web.whatsapp.com/">Comprar</a>
          </div>
        </div>
        <div class="card">
          <img src="./assets/bus3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Medellín-Colombia a Montería-Colombia</h5>
            <p class="card-text">Viaje de ida y vuelta en nuestra cómoda flota, incluye hospedaje y alimentación por 5 días</p>
            <p class="card-text"><small class="text-muted">Precio: COP 800.000</small></p>
            <a type="button" class="btn btn-secondary btn-sm" href="https://web.whatsapp.com/">Comprar</a>
          </div>
        </div>
        <div class="card">
          <img src="./assets/bus2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Medellín-Colombia a Riohacha-Colombia</h5>
            <p class="card-text">Viaje de ida y vuelta en nuestra cómoda flota, incluye hospedaje y alimentación por 5 días</p>
            <p class="card-text"><small class="text-muted">Precio: COP 700.000</small></p>
            <a type="button" class="btn btn-secondary btn-sm" href="https://web.whatsapp.com/">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-group">
        <h2 id="crucero">Viajes en Crucero</h2>
        <div class="card-group">
            <div class="card">
              <img src="./assets/cruice1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Caribe-Bahamas</h5>
                <p class="card-text">Visite las tranquilas islas Bahamas a bordo de un relajado crucero , la mayoría de los cuales salen de Florida. Al tomar un crucero a las Bahamas, encontrará una abundancia de bonitas playas, buen buceo y oportunidades para el esquí sobre agua, paracaídas, jet ski, windsurf y más.</p>
                <p class="card-text"><small class="text-muted">Precio: COP 7.300.000</small></p>
                <a type="button" class="btn btn-secondary btn-sm" href="https://web.whatsapp.com/">Comprar</a>
              </div>
            </div>
            <div class="card">
              <img src="./assets/cruice2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Caribe-Antillas</h5>
                <p class="card-text">Prepararse para descubrir unas escalas de ensueño donde podrá conocer y disfrutar de unos lugares impresionantes: Antigua, Barbados, Curaçao, Martinica, Grenada, Pointe-à-Pitre Port, Castries Philipsburg,
                  Antigua, llamada la puerta de entrada al Caribe</p>
                <p class="card-text"><small class="text-muted">Precio: COP 8.000.000</small></p>
                <a type="button" class="btn btn-secondary btn-sm" href="https://web.whatsapp.com/">Comprar</a>
              </div>
            </div>
            <div class="card">
              <img src="./assets/cruice3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Caribe-Mexico</h5>
                <p class="card-text">Impresionantes destinos donde podrá conocer y descubrir la transparencia del mar Caribe. El viaje con el que siempre soñó, viva esta experiencia en su crucero por el Caribe, quedara impresionado.</p>
                <p class="card-text"><small class="text-muted">Precio: COP 8.700.000</small></p>
                <a type="button" class="btn btn-secondary btn-sm" href="https://web.whatsapp.com/">Comprar</a>
              </div>
            </div>
          </div>
        </div>