<div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
            <img src="./assets/avion.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Viajes en avión</h5>
                <p class="card-text">Nuestra aerolinea presta un excelente servicio con toda la seguridad y comodidad necesaria para sus viajes por aire</p>
                <a type="button" class="btn btn-secondary btn-sm" href="#viajes">Más Información</a>
            </div>
            </div>
        </div>
        </div>
        <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
            <img src="./assets/bus.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Viajes en bus de turismo</h5>
                <p class="card-text">La flota de buses más completa y organizada con destino a diferentes lugares paradisiacos e históricos</p>
                <a type="button" class="btn btn-secondary btn-sm" href="#bus">Más Información</a>
            </div>
            </div>
        </div>
        </div>
        <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
            <img src="./assets/crucero.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Viajes en Crucero</h5>
                <p class="card-text">Los mejores viajes en crucero que puedes encontrar, con todo incluído y a excelente precio</p>
                <a type="button" class="btn btn-secondary btn-sm" href="#crucero">Más Información</a>
            </div>
            </div>
        </div>
    </div>
