
.card{
    background-color:rgb(128, 178, 190) ;
}

a{
    background-color:rgb(226, 98, 24);
    border: rgb(26, 26, 122) 1px solid;
    color:black;
    font-weight: bold;
    font-size: 0.8rem;
}





